.mobileMenuContainer {
  display: block;
}

.burger {
  z-index: 60;
}

.menuContent {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 50;
  padding: 0 1rem;
  padding-bottom: 2rem;
  max-height: calc(100vh - 5.75rem);
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  will-change: transform, opacity;
  margin-top: 0.5rem; /* Add spacing between header and menu */
  scrollbar-width: none; /* Firefox */
  border-radius: 16px;
}

@media (min-width: 768px) {
  .menuContent {
    max-height: calc(100vh - 6.75rem);
  }
}

/* Hide scrollbar for WebKit browsers */
.menuContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.menuItem {
  backdrop-filter: blur(10px);
  will-change: transform, opacity;
  margin: 0.5rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(222, 219, 247, 0.3);
  border-radius: 16px;
  background: #ECE6F9;
  overflow: hidden;
}

.menuButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  cursor: pointer;
  border: none;
  background: none;
  padding: 1rem 1.5rem;
  width: 100%;
  color: #0a0510;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
}

.menuButton:hover {
  background: rgba(222, 219, 247, 0.5);
  color: #43226D;
}

.chevron {
  display: flex;
  align-items: center;
}

.submenuContainer {
  overflow: hidden;
  border-radius: 16px;
  margin-top: 0.25rem;
}

.submenuItem {
  backdrop-filter: blur(10px);
  will-change: transform, opacity;
  margin: 0.25rem 1.5rem;
  border-radius: 16px;
  background: rgba(222, 219, 247, 0.6);
  overflow: hidden;
}

.submenuItem:first-child {
  margin-top: 0.5rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.submenuItem:last-child {
  margin-bottom: 0.5rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.submenuButton {
  display: block;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.75rem 0.8rem;
  width: 100%;
  color: #0a0510;
  font-size: 0.875rem;
  text-align: left;
  text-decoration: none;
}

.submenuButton:hover {
  background: rgba(222, 219, 247, 0.5);
  color: #43226D;
}

